BreederHub.v12.suo
BreederHub/obj/*
BreederHub/bin/*
BreederHub/Web.config
BreederHub/Web.Debug.config
BreederHub/Web.Release.config

BreederHub.DAL/obj/*
BreederHub.DAL/bin/*
BreederHub.DAL/App.config